.week {
  h1 {
    width: auto;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 8px 3px, rgba(0, 0, 0, 0.3) 0px 6px 4px -3px,
      rgba(0, 0, 0, 0.2) 0px -4px 2px inset;
  }

  .btn1 {
    display: flex;
    padding: 5px 30px;
    margin: 0 auto;
    border-radius: 5px;
    background:  rgb(104, 2, 16);
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

      &:hover{
        background-color: rgb(2, 69, 149);
      }

      .link{
        font-size: 20px;
        text-decoration: none;
        color: rgb(249, 246, 246);
        font-weight: 600;
      }
  }
}
.days-container {
  // border-radius: 10px;
  // margin-left: 100px;
  width: 90%;
border: 1px solid red;
  margin: 20px 65px;
  display: flex;
  justify-content: space-between;
}
